<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE  -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="static/assets/apple-icon-180x180.png">
  <link href="static/assets/favicon.ico" rel="icon">

<title>About Me </title>

<link href="static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title=""> HOME</a></li>
          <li><a href="./works.html" title=""> WORKS</a></li>
          <li><a href="./about.html" title=""> ABOUT ME</a></li>
          <li><a href="./contact.html" title=""> CONTACT</a></li>
        </ul>


      </div>
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">About me</h1>
          </div>

          <div class="row">
            <div class="col-md-6">
                <h3 style="font-size: 24px;">Introducing Mugilan: A Talented Python Programmer Making Waves in the Freelance World</h3>
                <p style="font-size: 18px;">Meet Mugilan, a remarkable 17-year-old self-taught Python programmer who is making a name for himself in the freelancing industry. With a passion for coding and a drive for excellence, Mugilan has become a sought-after professional on platforms like Fiverr and Upwork.</p>

                <p style="font-size: 18px;">From an early age, Mugilan discovered his love for technology and embarked on a journey of self-learning. Armed with determination and a thirst for knowledge, he delved into the intricacies of Python programming. Through countless hours of practice, online tutorials, and experimenting with various projects, Mugilan honed his skills to become a proficient programmer.</p>

                <p style="font-size: 18px;">Despite his young age, Mugilan's talent and expertise shine through in his work. He possesses an exceptional ability to write clean, efficient, and elegant code, solving complex problems with ease. Mugilan's deep understanding of Python allows him to create innovative solutions that meet his clients' specific needs and requirements.</p>

                <p style="font-size: 18px;">In his spare time, Mugilan continues to expand his knowledge and stay up-to-date with the latest developments in the Python ecosystem. He explores new frameworks, libraries, and tools, always striving to enhance his skill set and deliver cutting-edge solutions to his clients.</p>

                <p style="font-size: 18px;">Being a beginner freelancer is an exciting phase filled with opportunities for growth and learning. I'm thrilled to be on this journey, and I look forward to collaborating with clients who share a passion for excellence and innovation. Let's work together to turn your ideas into reality!</p>

                <p style="font-size: 18px;">Mugilan's journey as a self-taught programmer exemplifies the power of passion, dedication, and continuous learning. His impressive achievements at such a young age serve as an inspiration to aspiring programmers worldwide. Whether you're seeking a reliable freelance Python developer or looking to embark on your coding journey, Mugilan is the name you can trust.</p>
                            </div>
                <div class="col-xs-12 col-md-6">
                  <img src="static/assets/images/profil.jpg" class="img-responsive" alt="">
                </div>
              </div>
            </div>
          </div>
       </div>
      </div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

--> <script type="text/javascript" src="static/main.70a66962.js"></script></body>

</html>